#Market Basket Analysis

In [1]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [32]:
breadbasket = pd.read_csv("/content/bread basket.csv")

In [33]:
breadbasket

       Transaction           Item         date_time period_day weekday_weekend
0                1          Bread  30-10-2016 09:58    morning         weekend
1                2   Scandinavian  30-10-2016 10:05    morning         weekend
2                2   Scandinavian  30-10-2016 10:05    morning         weekend
3                3  Hot chocolate  30-10-2016 10:07    morning         weekend
4                3            Jam  30-10-2016 10:07    morning         weekend
...            ...            ...               ...        ...             ...
20502         9682         Coffee  09-04-2017 14:32  afternoon         weekend
20503         9682            Tea  09-04-2017 14:32  afternoon         weekend
20504         9683         Coffee  09-04-2017 14:57  afternoon         weekend
20505         9683         Pastry  09-04-2017 14:57  afternoon         weekend
20506         9684      Smoothies  09-04-2017 15:04  afternoon         weekend

[20507 rows x 5 columns]

In [34]:
breadbasket.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20507 entries, 0 to 20506
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Transaction      20507 non-null  int64
 1   Item             20507 non-null  object
 2   date_time        20507 non-null  object
 3   period_day       20507 non-null  object
 4   weekday_weekend  20507 non-null  object
dtypes: int64(1), object(4)
memory usage: 801.2+ KB

#Data Preparation

In [35]:
breadbasket['Item']=breadbasket['Item'].str.strip()
breadbasket.dropna(axis=0,subset=['Transaction'],inplace=True)
breadbasket['Transaction']=breadbasket['Transaction'].astype('str')
breadbasket=breadbasket[~breadbasket['Transaction'].str.contains('C')]
breadbasket

      Transaction           Item         date_time period_day weekday_weekend
0               1          Bread  30-10-2016 09:58    morning         weekend
1               2   Scandinavian  30-10-2016 10:05    morning         weekend
2               2   Scandinavian  30-10-2016 10:05    morning         weekend
3               3  Hot chocolate  30-10-2016 10:07    morning         weekend
4               3            Jam  30-10-2016 10:07    morning         weekend
...           ...            ...               ...        ...             ...
20502        9682         Coffee  09-04-2017 14:32  afternoon         weekend
20503        9682            Tea  09-04-2017 14:32  afternoon         weekend
20504        9683         Coffee  09-04-2017 14:57  afternoon         weekend
20505        9683         Pastry  09-04-2017 14:57  afternoon         weekend
20506        9684      Smoothies  09-04-2017 15:04  afternoon         weekend

[20507 rows x 5 columns]

In [39]:

def encoder(x):
      if x <= 0:
        return 0
      if x >= 1:
        return 1

apriori_data = breadbasket.groupby(['Transaction','Item'])['Item'].count().reset_index(name ='Count')
apriori_basket = apriori_data.pivot_table(index = 'Transaction', columns = 'Item', values = 'Count', aggfunc = 'sum').fillna(0)
apriori_basket_set = apriori_basket.applymap(encoder)
apriori_basket_set.head()

Item         Adjustment  ...  Victorian Sponge
Transaction              ...
1                     0  ...                 0
10                    0  ...                 0
100                   0  ...                 0
1000                  0  ...                 0
1001                  0  ...                 0

[5 rows x 94 columns]

#Training Model

In [40]:
my_frequent_itemsets = apriori(apriori_basket_set, min_support=0.07, use_colnames=True)

In [45]:
my_rules = association_rules(my_frequent_itemsets, metric="confidence", min_threshold=0.2)

In [46]:
my_rules

  antecedents consequents  antecedent support  ...      lift  leverage  conviction
0     (Bread)    (Coffee)            0.327205  ...  0.575059 -0.066517    0.719561

[1 rows x 9 columns]

#Making Recommendations

In [47]:
apriori_basket_set['Afternoon with the baker'].sum()

43

In [48]:
apriori_basket_set['Bare Popcorn'].sum()

5